.SCARLET {
  background: #000080;
}

.BROWN .nav-link {
  color: ##	#C0C0C0;
}

.BROWN .nav-link.active {
  background: ##	#C0C0C0;
  color: #ffffff;
}

.BROWN .nav-link:hover {
  text-decoration: underline;
}
